<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{ base :: layout(~{::title} , ~{::section}) }">

<head>
	<meta charset="ISO-8859-1">
	<title>Emp Save Form</title>

</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<p class="fs-4">Add Emp</p>
							<th:block th:if="${session.msg}">
								<p class="text-center text-success fs-4">[[${session.msg}]]</p>
								<th:block th:text="${@empServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="saveEmp" method="post">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Emp_Name
									</label> <input type="text" class="form-control" name="emp_Name">
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Role_Maturity
									</label>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="role_Maturity"
											id="inlineRadio1" value="Junior"> <label class="form-check-label"
											for="inlineRadio1">Junior</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="role_Maturity"
											id="inlineRadio1" value="Experienced"> <label class="form-check-label"
											for="inlineRadio1">Experienced</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="role_Maturity"
											id="inlineRadio1" value="Expert"> <label class="form-check-label"
											for="inlineRadio1">Expert</label>
									</div>
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Skill_Profile
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="Skill_Profile" id="inlineRadio1"
										value="Application Administrator"> <label class="form-check-label"
										for="inlineRadio1">Application Administrator</label>
								</div>


								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">bill_Rate
									</label> <input type="number" class="form-control" name="bill_Rate">
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">dB_Estimate
									</label> <input type="number" class="form-control" name="dB_Estimate">
								</div>


								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">g_Level
									</label> <input type="text" class="form-control" name="g_Level">
								</div>


								<button type="submit" class="btn btn-primary">Submit</button>
							</form>

						</div>

						
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>